html, body {
  height: 100%;
}

html {
  background-color: #222;
}

body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ddd;
  margin: 0;
}

.backgroundblendmode body:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url("../images/noise.png");
  mix-blend-mode: overlay;
  opacity: 0.05;
}

header {
  padding: 5vh 0 6vh;
  /*min-height: 80vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #E36001;
}

.actions {
  margin-top: 1.5rem;
}

.button {
  color: white;
  background-color: #E36001;
  padding: 1rem 1.5rem;
  font-size: 1.5em;
  border-radius: 0.25rem;
  display: inline-block;
  text-decoration: none;
  font-size: 200;
  transition: all cubic-bezier(.35,.35,1,1.35) 250ms;
  box-shadow: 0 0.75rem 1rem -0.25rem rgba(0,0,0,0.5);
  /* *sigh* Safari */
  -webkit-font-smoothing: antialiased;
}

.button:hover {
  transform: translateY(-0.325rem);
  box-shadow: 0 1.125rem 1.25rem -0.25rem rgba(0,0,0,0.4);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 0.75rem 1rem -0.25rem rgba(0,0,0,0.5);
}

.title {
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  display: flex;
  flex-direction: column;
}

.title-name {
  text-transform: uppercase;
  margin: 0;
  color: #ccc;
  font-size: 10vw;
  line-height: 10vw;
  letter-spacing: 1vw;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.title-name strong {
  letter-spacing: 0.75vw;
  color: #E36001;
}

.title-description {
  color: #aaa;
  text-align: left;
  font-size: 3vw;
  font-weight: 200;
  letter-spacing: 0.925vw;
  text-transform: uppercase;
  margin: 0;
  padding-left: 0.875vw;
}

.title-image {
  height: 28vw;
  margin-right: 2.5vw;
  -webkit-filter: drop-shadow(0 0 1vw rgba(240,160,10,0.6));
}

section {
  box-sizing: border-box;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  box-shadow: inset 0 2vh 12vh 4vh rgba(0,0,0,0.8);
  background-image: url("https://unsplash.it/1600/800/?image=869&blur");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 0;
  min-height: 100vh;
}

section img {
  width: 95vw;
  max-width: 52.5em;
  margin-bottom: 8vh;
  height: auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(0,0,0,0.6);
  box-shadow: 0 1vw 4vw rgba(0,0,0,0.8);
}

section a {
  color: white;
}

section figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  font-size: 2em;
  margin-bottom: 8vh;
  font-weight: 100;
  order: -1;
}

path {
  fill: white;
}

footer {
  padding: 1em 0;
}
