* {
  pointer-events: none; }

html, body {
  height: 100%;
  overflow: hidden;
  pointer-events: auto; }

body {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  margin: 0;
  background: #34383E;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.2); }
  body:before, body:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  body:before {
    mix-blend-mode: overlay;
    z-index: -2;
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)); }
  body:after {
    mix-blend-mode: overlay;
    opacity: 0.05;
    z-index: -1;
    background: url("../images/noise.png"); }
    @media (-webkit-min-device-pixel-ratio: 2) {
      body:after {
        background-size: 50px 50px; } }

::selection {
  background: black;
  text-shadow: none; }

h1, h2, h3,
h4, h5, h6 {
  font-weight: 100;
  margin: 0;
  cursor: default; }

@font-face {
  font-family: 'San Francisco';
  src: url(/System/Library/Fonts/SFNSDisplay-Ultralight.otf);
  font-weight: 100; }

@font-face {
  font-family: 'San Francisco';
  src: url(/System/Library/Fonts/SFNSDisplay-Thin.otf);
  font-weight: 200; }

@font-face {
  font-family: 'San Francisco';
  src: url(/System/Library/Fonts/SFNSDisplay-Light.otf);
  font-weight: 300; }

@font-face {
  font-family: 'San Francisco';
  src: url(/System/Library/Fonts/SFNSDisplay-Regular.otf);
  font-weight: 400; }

@font-face {
  font-family: 'San Francisco';
  src: url(/System/Library/Fonts/SFNSDisplay-Medium.otf);
  font-weight: 500; }

@font-face {
  font-family: 'San Francisco';
  src: url(/System/Library/Fonts/SFNSDisplay-Semibold.otf);
  font-weight: 600; }

@font-face {
  font-family: 'San Francisco';
  src: url(/System/Library/Fonts/SFNSDisplay-Bold.otf);
  font-weight: 700; }

@font-face {
  font-family: 'San Francisco';
  src: url(/System/Library/Fonts/SFNSDisplay-Heavy.otf);
  font-weight: 800; }

@font-face {
  font-family: 'San Francisco';
  src: url(/System/Library/Fonts/SFNSDisplay-Black.otf);
  font-weight: 900; }

.app-title {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 0.5rem;
  font-size: 0.875em;
  letter-spacing: 0.05em;
  font-weight: 200;
  color: white;
  font-family: "San Francisco", "Helvetica Neue", sans-serif; }

.view {
  font-family: "San Francisco", "Helvetica Neue", sans-serif;
  font-weight: 100;
  letter-spacing: 0.05em;
  color: white;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-content: stretch; }

.running {
  animation: fade-in-up 1s ease-in-out; }

header {
  padding: 1.5em 10vw; }

header h1 {
  font-size: 2.25em; }

header h2 {
  font-size: 0.75em;
  color: #A6ADB8; }

.highlight {
  color: #FFA700; }

.url {
  pointer-events: auto;
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
  margin: 0 10vw;
  font-weight: 100;
  color: white;
  text-align: center;
  background: rgba(36, 36, 42, 0.3);
  box-shadow: 0 -1pt #1F2023, 0 1pt rgba(80, 85, 92, 0.8), inset 0 2px 5px rgba(31, 33, 35, 0.65);
  padding: 0.75rem;
  font-size: 2.5em;
  border-radius: 0.25rem; }

@keyframes float {
  100% {
    transform: translateY(-8px);
    box-shadow: 0 2em 3em rgba(0, 0, 0, 0.5); } }

@keyframes fade-out {
  100% {
    opacity: 0;
    transform: translateY(16px); } }

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(16px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-16px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

@keyframes stroke-grow {
  100% {
    stroke-width: 4px; } }

.actions {
  margin: 1.5rem 10vw;
  display: flex;
  justify-content: space-between;
  animation: fade-in-down 1s ease-in-out; }

.btn {
  pointer-events: auto;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  font-family: "San Francisco", "Helvetica Neue", sans-serif;
  letter-spacing: 0.05em;
  border-radius: 0.25rem;
  line-height: 1;
  box-shadow: 0 1pt #5D5F63 inset, 0 -1pt #191B20 inset, 0 2pt 6pt rgba(0, 0, 0, 0.4);
  background: linear-gradient(#36393E, #232629);
  border: 1pt solid #1C1E22;
  color: white;
  text-shadow: 0 -1pt #2E3134;
  font-size: 0.875em;
  font-weight: 100;
  padding: 0.5rem 1rem 0.625rem;
  text-decoration: none; }
  .btn:focus {
    outline: none; }
  .btn:active {
    outline: none;
    background: linear-gradient(#232629, #36393E);
    box-shadow: none;
    text-shadow: 0 1pt #2E3134; }

#drop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0; }

.drop-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8em;
  width: 100vw;
  position: absolute;
  top: 50%;
  margin-top: -4em; }

.drop-box {
  display: inline-block;
  height: 8em;
  width: 8em;
  background: linear-gradient(rgba(36, 36, 42, 0.8), rgba(36, 36, 42, 0.2));
  box-shadow: 0 -1pt #1F2023, 0 1pt rgba(80, 85, 92, 0.8), inset 0 2px 5px rgba(31, 33, 35, 0.65);
  border-radius: 0.5rem;
  transition: all ease-in-out 500ms;
  position: relative; }

.hover .drop-box,
.load .drop-box {
  background: linear-gradient(#FFA800, #dd7811);
  box-shadow: 0 1em 2.5em black;
  transition: all ease-in-out 250ms;
  animation: float 1s ease-in-out infinite;
  animation-direction: alternate; }

.drop-box svg {
  position: absolute; }

.drop-arrow {
  width: 3em;
  top: 2em;
  left: 2.5em; }

.load-circle {
  width: 5.6em;
  top: 0.5em;
  left: 1.2em;
  opacity: 0;
  transition: all 500ms ease-in-out; }

.drop-arrow .arrow {
  fill: transparent;
  stroke-width: 2px;
  stroke: #FFA800;
  transition: all ease-in-out 500ms; }

.hover .drop-arrow .arrow,
.load .drop-arrow .arrow {
  stroke: #fff;
  stroke-width: 4px;
  transition: all ease-in-out 250ms; }

.load .drop-arrow {
  transition: all 500ms ease-in-out;
  opacity: 0;
  transform: translateY(16px); }

.load-circle .circle {
  fill: transparent;
  stroke: #fff;
  stroke-width: 8px;
  transform: scale(0.8);
  transform-origin: 50% 50%; }

.load .load-circle {
  top: 1.2em;
  opacity: 1;
  animation: spin 2s linear infinite; }

.load .load-circle .circle {
  animation: stroke-grow 1s ease-in-out infinite;
  animation-direction: alternate; }

.drop-message {
  font-family: "San Francisco", "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  width: 20rem;
  display: inline-block;
  margin-left: 4vw;
  position: relative;
  text-align: center; }

.release-message,
.loading-message,
.start-message {
  transition: all ease-in-out 150ms;
  position: absolute;
  width: 100%;
  margin-top: -14px; }

.release-message,
.loading-message,
.hover .start-message,
.load .start-message {
  opacity: 0;
  transform: scale(0.6); }

.start-message,
.hover .release-message,
.load .loading-message {
  opacity: 1;
  transform: scale(1); }

.status-message {
  font-family: monospace !important;
  overflow: hidden;
  height: 20px;
  width: 100%;
  text-align: left;
  position: fixed;
  bottom: 1em;
  left: 1em;
  right: 1em; }
