html, body {
  height: 100%;
}

html {
  background-color: #222;
}

body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ddd;
  margin: 0;
}

.backgroundblendmode body:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url("images/noise.png");
  mix-blend-mode: overlay;
  opacity: 0.1;
}

header {
  padding: 5vh 0;
  /*min-height: 80vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #E36001;
}

.button {
  color: white;
  background-color: #E36001;
  padding: 1rem 1.5rem;
  font-size: 1.5em;
  border-radius: 0.25rem;
  display: inline-block;
  text-decoration: none;
  font-size: 200;
}

.title {
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  display: flex;
  flex-direction: column;
}

.title-name {
  text-transform: uppercase;
  margin: 0;
  color: #ccc;
  font-size: 10vw;
  line-height: 10vw;
  letter-spacing: 1vw;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.title-name strong {
  letter-spacing: 0.75vw;
  color: #E36001;
}

.title-description {
  color: #777;
  text-align: left;
  font-size: 3vw;
  font-weight: 200;
  letter-spacing: 0.925vw;
  text-transform: uppercase;
  margin: 0;
  padding-left: 0.875vw;
}

.title-image {
  height: 28vw;
  margin-right: 2.5vw;
}

section {
  border: 1px solid black;
  border-left: none;
  border-right: none;
  box-shadow: inset 0 2vh 12vh 4vh rgba(0,0,0,0.8);
  background-image: url("https://unsplash.it/1600/800/?image=869&blur");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

section img {
  width: 95vw;
  max-width: 52.5em;
}

section figure {
  margin: 0;
  padding: 0;
}

path {
  fill: white;
}

footer {
  padding: 1em 0;
}
