.actions {
  margin: 1.5rem 10vw;
  display: flex;
  justify-content: space-between;
  animation: fade-in-down 1s ease-in-out;
}

.btn {
  pointer-events: auto;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  font-family: $system-fonts;
  letter-spacing: 0.05em;
  border-radius: 0.25rem;
  line-height: 1;
  box-shadow:
    0 1pt #5D5F63 inset,
    0 -1pt #191B20 inset,
    0 2pt 6pt rgba(0, 0, 0, 0.4);
  background: linear-gradient(#36393E, #232629);
  border: 1pt solid #1C1E22;
  color: white;
  text-shadow: 0 -1pt #2E3134;
  font-size: 0.875em;
  font-weight: 100;
  padding: 0.5rem 1rem 0.625rem;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    background: linear-gradient(#232629, #36393E);
    box-shadow: none;
    text-shadow: 0 1pt #2E3134;
  }

}
