@keyframes float {
  100% {
    transform: translateY(-8px);
    box-shadow: 0 2em 3em rgba(0, 0, 0, 0.5);
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
    transform: translateY(16px);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stroke-grow {
  100% {
    stroke-width: 4px;
  }
}