.app-title {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 0.5rem;
  font-size: 0.875em;
  font-weight: 200;
  color: white;
  font-family:
    "San Francisco",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;
}

.view {
  font-family:
    "San Francisco",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;
  font-weight: 100;
  color: white;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.running {
  animation: fade-in-up 1s ease-in-out;
}

header {
  padding: 1.5em 10vw;
}

header h1 {
  font-size: 2.25em;
}
header h2 {
  font-size: 0.75em;
  color: #A6ADB8;
}

.highlight {
  color: #FFA700;
}

.url {
  pointer-events: auto;
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
  margin: 0 10vw;
  font-weight: 100;
  color: white;
  text-align: center;
  background: rgba(36, 36, 42, 0.3);
  box-shadow:
    0 -1pt #1F2023,
    0 1pt rgba(80, 85, 92, 0.8),
    inset 0 2px 5px rgba(31, 33, 35, 0.65)
  ;
  padding: 0.75rem;
  font-size: 2.5em;
  border-radius: 0.25rem;
}