html, body {
  height: 100%;
  overflow: hidden;
}

body{
  margin: 0;
  background: #34383E;
  box-shadow:
    inset 0 0 1em rgba(0, 0, 0, 0.2),
     inset 0 1px rgba(255, 255, 255, 0.15),
     inset 0 -1px rgba(255, 255, 255, 0.1);
}

body:before,
body:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body:before {
  mix-blend-mode: overlay;
  z-index: -2;
  background:
    linear-gradient(
      rgba(255,255,255,0.25),
      rgba(0,0,0,0.25)
    );
}

body:after {
  mix-blend-mode: overlay;
  opacity: 0.05;
  z-index: -1;
  background: url("images/noise.png");
}

::selection {
  background: black;
  text-shadow: none;
}

.app-title {
  pointer-events: none;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 0.5rem;
  font-size: 0.875em;
  font-weight: 200;
  color: white;
  font-family:
    "San Francisco",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;
}

.view {
  font-family:
    "San Francisco",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;
  font-weight: 100;
  color: white;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 100;
  margin: 0;
  -webkit-user-select: none;
  cursor: default;
}

header {
  padding: 1.5em 10vw;
}

header h1 {
  font-size: 2.25em;
}
header h2 {
  font-size: 0.75em;
  color: #A6ADB8;
}

.highlight {
  color: #FFA700;
}

.url {
  margin: 0 10vw;
  font-weight: 100;
  color: white;
  text-align: center;
  background: rgba(36, 36, 42, 0.3);
  box-shadow:
    0 -1px #1F2023,
    0 1px rgba(80, 85, 92, 0.8),
    inset 0 2px 5px rgba(31, 33, 35, 0.65)
  ;
  padding: 0.75rem;
  font-size: 2.5em;
  border-radius: 0.25rem;
}

.actions {
  margin: 1.5rem 10vw;
  display: flex;
  justify-content: space-between;
}

.btn {
  -webkit-user-select: none;
  font-family:
    "San Francisco",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;
  border-radius: 0.25rem;
  box-shadow:
    0 1px #5D5F63 inset,
    0 -1px #191B20 inset;
  background: linear-gradient(#36393E, #232629);
  border: 1px solid #1C1E22;
  color: white;
  text-shadow: 0 -1px #2E3134;
  font-size: 0.875em;
  font-weight: 100;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

  .btn:focus {
    outline: none;
  }

.btn:active {
  outline: none;
  background: linear-gradient(#232629, #36393E);
  box-shadow: none;
  text-shadow: 0 1px #2E3134;
}

#drop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.drop-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8em;
  width: 100vw;
  position: absolute;
  top: 50%;
  margin-top: -4em;
}

.drop-box {
  display: inline-flex;
  justify-content: center;
  height: 8em;
  width: 8em;
  background: rgba(36, 36, 42, 0.3);
  box-shadow:
    0 -1px #1F2023,
    0 1px rgba(80, 85, 92, 0.8),
    inset 0 2px 5px rgba(31, 33, 35, 0.65)
  ;
  border-radius: 0.5rem;
}

.drop-box svg {
  width: 30%;
}

.drop-message {
  font-family:
    "San Francisco",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;
  display: inline-block;
  margin-left: 4vw;
}


.release-message,
.loading-message,
.hover .start-message,
.load .start-message {
  display: none;
}

.hover .release-message,
.load .loading-message {
  display: block;
}